{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title"><img src="{{profile_image_url}}" alt="{{screen-name}}"> {{screen-name}}</h3>
        <a href="{{servlet-context}}/hashtags?screen-name={{screen-name}}" class="btn btn-sm btn-primary">
          show hashtags
        </a>
        <a href="{{servlet-context}}/live?screen-name={{screen-name}}" class="btn btn-sm btn-primary">
          show live
        </a>
      </div>
    </div>
  </div>
{% endblock %}
